
<% layout('base_layout') -%>
<div class="input-group">
    <p>Project Name: <input type="text" class="form-control" id="project_name"></p>
    <p>Organization: <input type="text" class="form-control" id="org_name"></p>
    <p>Sector:
    	<select>
  			<option value="health">Health</option>
			<option value="agriculture">Agriculture</option>
			<option value="education">Education</option>
		</select>
	</p>
    <p>Your Name: <input type="text" class="form-control" id="user_name"></p>
    <p>Your Email: <input type="text" class="form-control" id="email"></p>
</div>